<div><h1 class="h1cursiveRed">Voting</h1><br />

<%@voters.each do |voter|%>
   <p><h4 class="h4stencilBlack"><%=voter.name.upcase%> VOTES FOR: </h4>

    <%= form_for @turn do |t| %>
     <%= t.hidden_field :vote_p1, :value=> @turn.vote_p1 + 1 %>
     <%= t.submit @turn.player1.name.upcase %>
   <% end %>

   <%= form_for @turn do |t| %>
     <%= t.hidden_field :vote_p2, :value=> @turn.vote_p2 + 1 %>
     <%= t.submit @turn.player2.name.upcase %>
   <% end %></p>

<% end %>

 <% if @voters.length <= @turn.vote_p1 + @turn.vote_p2 && @turn.vote_p1 != @turn.vote_p2%>
        <button><%=link_to "WE HAVE A WINNER!", turn_path(@turn)%></button>

  <% elsif @voters.length <= @turn.vote_p1 + @turn.vote_p2 && @turn.vote_p1 == @turn.vote_p2 %>

    <br/>
    <h2>Tie Breaker</h2>
    <h3>Instructions for Rock Paper Scissors:</h3>
    <p>1. To play “rock,” simply ball your hand up into a fist when you and your opponent shoot.</p>
    <p>2. Throw “paper” by extending your hand palm down with your fingers outstretched.</p>
    <p>3. For "scissors," use two fingers to mimic the shape of an open pair of scissors.</p>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/AnRYS02tvRA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br/>
    <br/>
    <p>The Rock Paper Scissors winner is: </p>
        <%= form_for @turn do |t| %>
          <%= t.hidden_field :vote_p1, :value=> @turn.vote_p1 + 1 %>
          <%= t.submit @turn.player1.name%>
        <% end %>

      <%= form_for @turn do |t| %>
          <%= t.hidden_field :vote_p2, :value=> @turn.vote_p2 + 1 %>
          <%= t.submit @turn.player2.name%>
      <% end %>
      <% end %>
</div>
