<div><h1>Voting</h1>

<%@voters.each do |voter|%>
   <p><%=voter.name%> votes for:

    <%= form_for @turn do |t| %>
     <%= t.hidden_field :vote_p1, :value=> @turn.vote_p1 + 1 %>
     <%= t.submit @turn.player1.name %>
   <% end %>

   <%= form_for @turn do |t| %>
     <%= t.hidden_field :vote_p2, :value=> @turn.vote_p2 + 1 %>
     <%= t.submit @turn.player2.name %>
   <% end %></p>

<% end %>

 <% if @voters.length <= @turn.vote_p1 + @turn.vote_p2 && @turn.vote_p1 != @turn.vote_p2%>
        <button><%=link_to "We have a winner!", turn_path(@turn)%></button>
    
  <% elsif @voters.length <= @turn.vote_p1 + @turn.vote_p2 && @turn.vote_p1 == @turn.vote_p2 %>
    <p>Instructions for tie</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/AnRYS02tvRA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <p>The Rock Paper Scissors winner is: </p>
        <%= form_for @turn do |t| %>
          <%= t.hidden_field :vote_p1, :value=> @turn.vote_p1 + 1 %>
          <%= t.submit @turn.player1.name%>
        <% end %>

      <%= form_for @turn do |t| %>
          <%= t.hidden_field :vote_p2, :value=> @turn.vote_p2 + 1 %>
          <%= t.submit @turn.player2.name%>
      <% end %>
      <% end %>
</div>