<div><h1>Add Players: </h1>

<%=form_for @player do |f|%>
    <%= f.label 'Name'%>
    <%= f.text_field :name%>
    <%= f.submit%>
<% end %>

<br /><br />

<h4>List of Players: </h4>
<ul>
    <%@players.each do |p|%>
        <li><%=p.name%> <button><%= link_to 'Delete', p,  method: :delete, data: { confirm: 'Are you sure?' } %></button></li>
    <%end%>
</ul>

<br /><br />
<% if @players.length >= 3 %>
  <button><%= link_to 'Begin Battles', '/turns/new'%></button>
<% end %>
<br /><br />
<button><%= link_to 'Back to Welcome', '/welcome' %></button>
</div>
