<div><h1 class="h1cursiveRed">Create a Challenge</h1><br />

    <h4 class="h4stencilBlack">Instructions for video URL:</h4>
    <p>1. On a computer, go to the YouTube video you want to embed.</p>
    <p>2. Under the video, click SHARE.</p>
    <p>3. Click Embed.</p>
    <p>4. From the box that appears, copy the URL (after src and within the quotes) from the Embed Video.</p>
    <p>5. Paste the code into your website Video URL.</p></div>
    <br />

<%= form_for Challenge.new do |form| %>
    <%= form.label 'Title:'%>
    <%= form.text_field :title %>
    <br /><br />
    <%= form.label 'Description:'%>
    <%= form.text_field :description %>
    <br /><br />
    <%= form.label 'How many drinks?'%>
    <%= form.text_field :drinks %>
    <br /><br />
    <%= form.label 'Video URL:'%>
    <%= form.text_field :video_url %>
    <br /><br />
    <%= form.submit 'CREATE CHALLENGE'%>
<% end %>
<br />

<button><%=link_to "BACK TO WELCOME PAGE", '/welcome'%></button>
